DATABASE_CONNECTION=Server=host.docker.internal;Port=3306;Database=monitoring_fishing_vessels;User=<DB_USER>;Password=<DB_PASSWORD>;AllowPublicKeyRetrieval=True;SslMode=None

JWT_KEY=<your-256-bit-secret-key>
JWT_ISSUER=<your-issuer>
JWT_AUDIENCE=<your-audience>

